<h2>Modification du produit <span [ngStyle]="{'font-style' :'italic', 'color' : 'green'}">#{{produit.id}}</span></h2>
<form (ngSubmit)="modifier(f)" #f="ngForm">
  <div class="mb-3">
    <label for="id" class="form-label">Id</label>
    <input type="number" class="form-control" id="id" readonly ngModel name="id" [ngModel]="produit.id">
  </div>
  <div class="mb-3">
    <label for="nom" class="form-label">Nom</label>
    <input type="text" class="form-control" id="nom" required ngModel name="nom" [ngModel]="produit.nom">
  </div>
  <div class="mb-3">
    <label for="cas" class="form-label">CAS</label>
    <input type="text" class="form-control" id="cas" required ngModel name="cas" [ngModel]="produit.cas">
  </div>
  <div class="mb-3">
    <label for="formule" class="form-label">Formule linaire</label>
    <input type="text" class="form-control" id="formule" required ngModel name="formule" [ngModel]="produit.formule">
  </div>
  <div class="mb-3">
    <label for="masse" class="form-label">Masse moléculaire</label>
    <input type="text" class="form-control" id="masse" required ngModel name="masse" [ngModel]="produit.masseMoleculaire">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Produit description</label>
    <input type="text" class="form-control" id="description" ngModel name="description" [ngModel]="produit.description">
  </div>
  <div class="mb-3">
    <label for="quantite" class="form-label">Quantité</label>
    <input type="number" class="form-control" id="quantite" ngModel name="quantite" [ngModel]="produit.quantite">
  </div>
  <div class="mb-3">
    <label for="localisation" class="form-label">Localisation</label>
    <input type="text" class="form-control" id="localisation" ngModel name="localisation" [ngModel]="produit.localisation">
  </div>
  <button type="submit" class="btn btn-primary">Valider</button>
</form>
